page-cd4-tracking {

}

.myCustomSelect{
    width: 100%;
    max-width: 100% !important;
    text-align: left;
  }

.btn{
    width: 25px;
    height: 20px;
}

.btn2{
    width: auto;
    height: auto;
}
