.section{
    background-color:rgb(66, 134, 244);
    height: 45px;
  }

  .section2{
    background-color:rgb(66, 134, 244);
    height: 45px;
    margin-top: 155px;
  }

  .section3{
    background-color:rgb(66, 134, 244);
    height: 45px;
    margin-top: 160px;
  }

  .no-scroll .scroll-content{
    overflow: hidden;
}

  .itemFont{
      font-weight: bold;
      font-size: 20px;
  }

  .indent{
      margin-left: 10px;
      margin-bottom: 3px;
  }

  .text{
      color: white;
      padding-top: 10px;
      padding-left: 20px;
      font-size: 22px;
      height: 39px;
  }

  .btnSize{
      width: 47px;
      height: 25px;
      padding-top: 10px;
      text-align: center;
  }

  .marg1{
      margin-left:60px;
      
  }

  .btnHome{
      margin-top: 10px;
      width:auto;
      height: 30px;
      font-size: 18px;
  }

.btn3{
    padding-top: 0px;
}