page-viral-load {

}

.myCustomSelect{
    max-width: 100%!important;
    width: 100%!important;
    right: auto!important;
    direction: ltr!important;
    padding-left: 0!important;
  }

.btn{
    width: 25px;
    height: 20px;
}

.btn2{
    width: auto;
    height: auto;
}


