page-reports {

}

.myCustomSelect{
    max-width: 100%!important;
    width: 100%!important;
    right: auto!important;
    direction: ltr!important;
    padding-left: 0!important;
  }


.header .col {
  background-color:lightgrey;
}

